---
import Page from "../layouts/Page.astro";
---

<Page showHeaderFooter={false}>
    <div class="flex h-screen items-center">
        <div class="flex flex-col items-center">
            <img src="/src/assets/404.png" class="w-64 mx-auto aspect-auto" />
            <p>
                Seems like something went wrong... we couldn't find that page.
            </p>
            <a href="/" class="pt-2 hover-highlight">Return Home</a>
        </div>
    </div>
</Page>
