---
import Welcome from "../components/Welcome.astro";
import Header from "../components/Header.astro";
import Folder from "../components/Folder.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
    <div>
        <section class="centered">
            <section>
                <img src="/404.png" width="256rem" height="128rem" />
                <p>
                    Seems like something went wrong... we couldn't find that
                    page.
                </p>
            </section>
        </section>
    </div>
</Layout>
