---
import Page from "../layouts/Page.astro";
---

<Page>
    <img src="/src/assets/scholar.png" class="w-64 mx-auto aspect-auto">
    <p class="text-center">
        I am a <a href="https://schulichleaders.com/scholars/"
            >2025 Schulich Leader</a
        > studying Computing Science at the University of Alberta!
    </p>
    <p class="text-center">
        Send me an email and <a href="mailto:heyjeffkhuu@gmail.com"><b>Ask Me Anything!</b></a>
    </p>
</Page>
