---
const { id, title, description, date } = Astro.props;

const dateOptions: object = {
    year: "numeric",
    month: "long",
    day: "numeric",
};
---

<a class="hover-highlight no-underline" href=`/blog/${id}`>
    <div class="border-2 rounded-md p-4 h-24">
        <div class="overflow-hidden whitespace-nowrap text-ellipsis">
            <b>{title}</b> - <i>{description}</i>
        </div>
        <p>{date.toLocaleDateString("en-US", dateOptions)}</p>
    </div>
</a>
