---
import { Icon } from "astro-icon/components";
---

<footer class="max-w-md md:max-w-2xl mx-auto my-6 text-center items-center">
    <p class="text-md text-center">
        All my personal work is under a
        <a href="https://creativecommons.org/publicdomain/zero/1.0/"
            >public domain waiver</a
        >. Feel free to remix, copy and use any of it. Attribution is always
        appreciated ♡
    </p>
    <span class="inline-flex">
        <a
            class="hover-highlight"
            href="https://discordapp.com/users/259080310690414593"
        >
            <Icon name="ic--baseline-discord" class="text-2xl m-1" />
        </a>
        <a class="hover-highlight" href="mailto:heyjeffkhuu@gmail.com">
            <Icon name="ic--baseline-email" class="text-2xl m-1" />
        </a>
        <a class="hover-highlight" href="https://www.github.com/jeffkhuu">
            <Icon name="mdi--github" class="text-2xl m-1" />
        </a>
    </span>
</footer>
