---

---

<header class="w-sm sm:w-md md:w-2xl mx-auto p-8">
    <nav class="w-full inline-flex justify-around list-none">
        <li class="hover-highlight"><a class="no-underline" href="/">Home</a></li>
        <li class="hover-highlight"><a class="no-underline" href="/projects">Projects</a></li>
        <li class="hover-highlight"><a class="no-underline" href="/blog">Blog</a></li>
    </nav>
</header>