---
import Section from "./Section.astro";
---

<Section>
    <h1 class="text-center">Hey I'm Jeff!</h1>
    <div class="inline-flex items-center justify-center">
        <p>
            I am a student of the internet and curiosity-driven programmer
            trying to make cool projects and leave an impact before I'm gone.
        </p>
        <img src="/favicon.png" class="w-32 object-contain" />
    </div>

    <p class="text-center pt-4">Welcome to my little corner of the internet!</p>
</Section>
