<main>
	<section id="hero">
		<h1>Hey, I'm Jeff!</h1>
		<div class="container">
			<p>
				I am a student of the internet and curiosity-driven programmer
				trying to make cool projects before I'm gone.
			</p>
			<img
				class="inline-img"
				src="/favicon.png"
				width="128rem"
				height="128rem"
			/>
		</div>

		<p style="text-align: center;">
			Welcome to my little corner of the internet!
		</p>
	</section>
</main>
