---
import "../assets/styles/style.css";
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Playpen+Sans:wght@100..800&family=Sue+Ellen+Francisco&display=swap"
			rel="stylesheet"
		/>
		<script
			src="https://kit.fontawesome.com/4ca6519832.js"
			crossorigin="anonymous"></script>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Jeff Khuu's Corner</title>
	</head>
	<body>
		<slot />
	</body>
</html>
